/* ---------- Header ---------- */
.social-icon {
  color: #f7f5ec;
}

.icon-menu {
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
  padding: 4px;
  margin-right: 19px;
  margin-top: 5px;
  padding-right: 0.5em;
}

.icon-menu-arrow {
  height: 23px;
  width: 23px;
}

#headerTitle {
  margin-left: 30px;
  font-size: 30px;
  margin-right: -30px;
}

/* ---------- Registration and login ---------- */
.auth-form {
  margin-top: 20px;
  width: 60%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form-input {
  --border-color: var(--ion-color-grey, grey);
}

.auth-form-input:hover {
  --border-color: var(--ion-color-red, rgb(221, 27, 27));
}

.auth-button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#registerBtn {
  width: 60%;
}

#registerLabel {
  color: lightslategray;
  size: 10px;
  margin: 10px 0;
}

#loginBtn {
  width: 60%;
}

/* ---------- Tickets ---------- */
.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart {
  margin-top: 20px;
}

.tickets-content {
  margin-top: 20px;
}

.ticket-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-title {
  font-size: 17px;
}

.accordion-group {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.cart {
  margin: 20px;
}

#ticketPrice {
  font-size: 15px;
  font-weight: bolder;
}

#ticketStage {
  margin-top: -1em;
}

.ticket-image {
  height: 40px;
  width: 40px;
}

/* ---------- Performer ---------- */
.performer-card {
  padding: 0;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.performer-card .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 5px;
  z-index: 1;
  position: relative;
}

.performer-card .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #ec0a0a;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.performer-card .picture .img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(4);
  transition: all 0.9s ease 0s;
}

.performer-card:hover .img {
  border-radius: 50%;
}

.performer-card .performer-name {
  display: block;
  font-size: xx-large;
  font-weight: bolder;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

.performer-card .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #252525;
  left: 0;
  transition: all 0.5s ease 0s;
}

.performer-card:hover .stage-name {
  font-size: x-large;
  transition: all 0.5s ease 0s;
}

.performer-card .social .social-item {
  display: inline-block;
}

.social-icon {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.performer-card .social .social-icon {
  display: block;
  padding: 10px;
  font-size: medium;
  color: #f7f5ec;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.performer-content {
  margin-top: -90px !important;
  margin-bottom: 30px;
}

.social-icon {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.performer-nick {
  font-size: x-large;
  font-weight: bolder;
}
.performer-name {
  font-style: italic;
  margin-bottom: -0.5em;
}

/* ---------- Stage ---------- */
.stage-card {
  padding: 0;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.stage-card .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 5px;
  z-index: 1;
  position: relative;
}

.stage-card .picture .img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(4);
  transition: all 0.9s ease 0s;
}

.stage-card .stage-name {
  display: block;
  font-size: xx-large;
  font-weight: bolder;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

.social-stage {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  background-color: #252525;
  transition: all 0.5s ease 0s;
}

.stage-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.stage-card .social-stage .social-item {
  display: inline-block;
}

.icon-stage {
  display: block;
  width: 25px;
  height: 25px;
  font-size: medium;
  color: #f7f5ec;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.stage-tabs {
  color: #fff;
  font-size: 1rem;
}

#stageTabsSponsor {
  margin-right: -0.5em;
}

.stageContent {
  margin-top: -40px !important;
  margin-bottom: 20px;
}

/**add performer*/
.add-perfrmer-card {
  margin: 20px;
}
.add-performer-title {
  margin: 20px;
  margin-bottom: -30px;
}

/**Admin tables*/

.table-grid {
  border: solid 1px rgb(22, 22, 22);
}
.table-name {
  margin-top: 20px;

  font-size: larger;
  font-weight: bolder;
}
.table-row-header {
  border-bottom: solid 1px rgb(59, 58, 58);
  font-size: smaller;
}

#tableRow {
  border-bottom: solid 0.5px rgb(201, 199, 199);
  margin-right: 5px;
}

.update-performer-card {
  margin: 10px;
  height: 90%;
}
.update-performer-title {
  margin-top: 5px;
}

/* ---------- Event ---------- */
.event-name {
  display: block;
  font-size: x-large;
  font-weight: bolder;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

.event-start {
  display: block;
  font-size: large;
  font-style: italic;
  transition: all 0.3s ease 0s;
}

.event-buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.event-icon {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.stage-content {
  align-items: center;
}

.event-tabs {
  color: #fff;
  font-size: 14px;
}

.home-page-title {
  margin-top: 1em;
  font-size: xx-large;
  font-weight: bolder;
}

.home-page-title:hover {
  color: #ec0a0a;
}

.home-page-text {
  margin-top: 3em;
}

#eventFooter {
  margin-top: -1.5em;
  align-items: center;
}

#eventCardButton {
  margin-left: -2em;
}

/* ---------- Footer ---------- */
.footer-social {
  padding: 0;
}

.content-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title-footer {
  color: rgba(184, 184, 184, 0.993);
  font-weight: bold;
  margin-bottom: 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
  color: #9a9a9a;
  padding: 40px 0 20px 0;
}

.content-footer .footer-img {
  max-width: 70px;
  display: flex;
  align-items: center;
}

.footer-row-logos {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: none;
}

.content-footer .footer-social {
  max-width: 60px;
}

.social-icon-footer {
  height: 30px;
  width: 30px;
  color: #f7f5ec;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.footer-link-pages #link {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
  color: #dadada;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.footer-logo-img {
  width: 200px;
}

.content-footer .copyright {
  font-family: helveticaw_, Arial, Helvetica, sans-serif;
  text-align: center;
  color: gray;
  font-size: 14px;
  width: 70%;
  margin: 0 auto;
  line-height: 1.55;
}

.content-footer .copyright a {
  color: gray;
  border-bottom: 2px solid gray;
  text-decoration: none;
}

#footer {
  position: relative;
  min-width: 100%;
  margin-top: 3em;
  text-align: center;
}

/* --------- Comments ---------- */
.comments-header {
  margin-bottom: 50px !important;
  border: 1px solid #edeff2;
  border-radius: 2px;
}

.comments-title {
  font-size: 20px;
  color: #262626;
  margin-top: 15px;
  margin-left: 8px;
  margin-bottom: 15px;
  font-weight: bold;
}

.comment-user {
  width: 30px;
  height: 30px;
  float: left;
  margin-bottom: 15px;
}

.comment-content {
  margin-left: 20px;
}

.comment-content .comment-info {
  display: inline-block;
  margin-top: -2em;
  margin-bottom: 15px;
}

.comment-name {
  font-size: 20px;
  font-family: "Conv_helveticaneuecyr-bold";
}

.comment-user {
  padding-top: 10px;
}

.comment-time {
  text-align: right;
  font-size: 11px;
  color: #b4b7c1;
}
#timeIconComment {
  width: 20px;
  height: 20px;
}

.comment-text {
  font-size: 13px;
  line-height: 18px;
  color: #474646;
  display: block;
  background: #f6f6f7;
  border: 1px solid #edeff2;
  padding: 15px 10px 10px 20px;
}

.comment-card {
  padding-top: -1em;
  min-width: 90%;
}

.add-comment .add-comment-input {
  font-size: 13px;
  line-height: 50px;
  font-weight: 400;
  color: #b4b7c1;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #edeff2;
  border-radius: 3px;
}

.add-comment .add-comment-input {
  height: 200px;
  font-size: large;
  color: #252525;
}

.comments {
  overflow-y: scroll;
  max-height: 85%;
  width: 100%;
  margin-bottom: 50px;
}

.scrollable {
  overflow-y: scroll;
}

.comment-rate {
  display: flex;
  align-items: center;
  min-height: 10vh;
  font-size: 20px;
}

#stars {
  cursor: pointer;
}

#adminControlsBtn {
  margin-top: -0.5em;
  margin-bottom: -0.4em;
}
